# OS X noise
.DS_Store
profile

# XCode noise
build/*
*.pbxuser
*.mode1v3
*.mode2v3

*.xcodeproj/xcuserdata/*
*.xcodeproj/project.xcworkspace/*
*.xcscheme

# test suite files
TestSuite/*

# builds
Builds/*
