body {
  font-family: -apple-system;
  margin-left: 16pt;
  margin-right: 16pt;
}

.header img {
    vertical-align: middle;
}

@media (prefers-color-scheme: dark) {
    body {
        background: rgb(37, 37, 37);
        color: white;
    }
}
